<div class="report-container container">
    <h2 class="report-header">Список студентів</h2>
    <table class="ui sortable celled striped table">
        <div class="form-group">
            <label for="course" class="control-label col-sm-1">Курс: </label>
            <input id="course" type="text" class="form-control col-sm-2">
            <label for="group" class="control-label col-sm-1">Група: </label>
            <input id="group" type="text" class="form-control col-sm-2">
            <thead class="thead-inverse">
        </div>

        <th [ngClass]="{'sorted ': sort.column === column.variable}" ng-repeat="column in columns" ng-click="changeSorting(column.variable)">
            {{column.display}}
            <i class="fa"
               [ngClass]="{'fa-sort-alpha-asc': !sort.descending && column.type === 'string',
                     'fa-sort-alpha-desc': sort.descending && column.type === 'string',
                     'fa-sort-numeric-asc': !sort.descending && column.type === 'number',
                     'fa-sort-numeric-desc': sort.descending && column.type === 'number'}"
               *ngIf="sort.column === column.variable"></i>
        </th>
        </thead>

        <tbody>
            <tr ng-repeat="student in students | orderBy : convertSorting()">
                <td class="col-sm-3">{{student.firstName}}</td>
                <td class="col-sm-3">{{student.lastName}}</td>
                <td class="col-sm-2">{{student.ticketNumber}}</td>
                <td class="col-sm-2">{{student.email}}</td>
                <td class="col-sm-2">{{student.email}}</td>
            </tr>
        </tbody>

    </table>
</div>
