<div ng-if="!departmentId" class="grid">
    <div class="grid__item" ng-repeat="department in departments">
        <a ng-click="checkDepartmnet(department._id)" href="javascript:;">
            <img width="100%" height="100%" ng-src="{{department.imageUrl}}" alt="">
        </a>
    </div>
</div>

<div ng-if="departmentId && !specialityId" class="grid">
    <div class="grid__item" ng-repeat="speciality in specialities">
        <a ng-click="checkSpeciality(speciality._id)" href="javascript:;">
            <img width="100%" height="100%" ng-src="{{speciality.imageUrl}}" alt="">
        </a>
    </div>
</div>

