<div class="login-wrap">
    <div class="login-container">

        <form id="registration-form" class="form-horizontal registration-form" name="singUpForm" ng-submit="signUp()">

            <div ng-show="error" class="alert alert-danger">{{error}}</div>

            <div class="form-group">
                <label for="input-login">Логін</label>
                <input id="input-login" name="username" type="text" class="form-control" ng-model="username" required>
                <span
                        ng-show="singUpForm.username.$dirty && singUpForm.username.$error.required"
                        class="help-block">
                    Це поле обов'язкове
                </span>
            </div>

            <div class="form-group">
                <label for="input-password">Пароль</label>
                <input id="input-password" name="password" type="password" class="form-control" ng-model="password" required />
                <span
                        ng-show="singUpForm.password.$dirty && singUpForm.password.$error.required"
                        class="help-block">
                    Це поле обов'язкове
                </span>
            </div>

            <div class="form-group">
                <label for="input-confirm">Повторити пароль</label>
                <input id="input-confirm" name="confirm" type="password" class="form-control" ng-model="confirmPass" ng-pattern="password" required />
                <span
                        ng-show="singUpForm.confirm.$dirty && singUpForm.confirm.$error.required"
                        class="help-block">
                    Це поле обов'язкове
                </span>
                <span
                        ng-show="singUpForm.confirm.$dirty && singUpForm.confirm.$error.pattern"
                        class="help-block">
                    Паролі не співпадають
                </span>
            </div>

            <div id="form-group">
                <label class="check-user">
                    <input name="student" type="radio" ng-model="userType" value="student">
                    Студент
                </label>
                <label class="check-user">
                    <input name="teacher" type="radio" ng-model="userType" value="teacher">
                    Викладач
                </label>
            </div>

            <div ng-show="userType === 'student'" class="form-group">
                <label for="input-ticket">Номер квитка</label>
                <input id="input-ticket" name="ticket" type="text" class="form-control" ng-model="ticketNumber"
                       ng-required="userType === 'student'" />
                <span
                        ng-show="singUpForm.ticket.$dirty && singUpForm.ticket.$error.required"
                        class="help-block">
                    Це поле обов'язкове
                </span>
            </div>

            <div class="form-group">
                <label for="input-email">Поштова адреса</label>
                <input name="email" placeholder="example@example.com" type="email" class="form-control" id="input-email" ng-model="email" required />
                <span
                        ng-show="singUpForm.email.$dirty && singUpForm.email.$error.required"
                        class="help-block">
                    Це поле обов'язкове
                </span>
            </div>

            <div class="form-group">
                <button id="create-button" type="submit" class="btn btn-primary"
                        ng-disabled="singUpForm.$invalid || dataLoading || singUpForm.confirm.$error.pattern" >
                    Підтвердити
                </button>
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <span class="pull-right sign-up"><a href="#/login">Назад</a></span>
            </div>

        </form>

    </div>
</div>
